<a href="https://colab.research.google.com/github/rabiyatahseen/ML-workshop/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.Create a Pandas DataFrame from the following dictionary:
# Add a new column called Bonus which is 10% of the salary.
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Carol'],
        'Age': [24, 27, 22],
        'Salary': [50000, 55000, 48000]}
df = pd.DataFrame(data)
df['Bonus'] = df['Salary'] * 0.10
print(df.head(2))

    Name  Age  Salary   Bonus
0  Alice   24   50000  5000.0
1    Bob   27   55000  5500.0

In [2]:
#2. Given the DataFrame created in the above question:
# Display the first two rows.
# Compute the mean salary
mean_salary = df['Salary'].mean()
print(f"Mean Salary: {mean_salary}")

Mean Salary: 51000.0

In [3]:
#3.Using the same DataFrame:
# Extract all rows where the Age is greater than 25.
#Filter out rows where the Salary is less than 50000.
filtered_df = df[(df['Age'] > 25) & (df['Salary'] > 50000)]
print(filtered_df)

  Name  Age  Salary   Bonus
1  Bob   27   55000  5500.0

In [4]:
#4. Create the following DataFrame:
# Fill missing values in column A with the mean of the column.
# Drop rows where all values are None.
data = {'A': [1, 2, None, 4],
        'B': [None, 2, 3, None],
        'C': [1, 2, 3, 4]}
df = pd.DataFrame(data)
df['A'].fillna(df['A'].mean(), inplace=True)
df = df.dropna(how='all')
print(df)

          A    B  C
0  1.000000  NaN  1
1  2.000000  2.0  2
2  2.333333  3.0  3
3  4.000000  NaN  4

<ipython-input-4-a1583c96af02>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(df['A'].mean(), inplace=True)

In [5]:
#5.Create a DataFrame for employees:
# Group the data by Department and compute the total and mean salary for each department
data = {'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
        'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Salary': [150000, 45000, 60000, 65000, 70000]}
df = pd.DataFrame(data)
grouped_df = df.groupby('Department')['Salary'].agg(['sum', 'mean'])
print(grouped_df)

               sum     mean
Department
Finance      70000  70000.0
HR          195000  97500.0
IT          125000  62500.0

In [7]:
#6. Given two DataFrames:
# Perform an inner join on the ID column
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID   Name  Age
0   2    Bob   25
1   3  Carol   30